p {
    font-weight:bold;
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    white-space: nowrap;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    text-align: center;
    background-color: aliceblue;
  }
  
  
  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    border:1px solid;
    width: 94%;
    
  }
  
  th{
    font-size:16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #b9ffa7;
    
  }
  td {
    max-width: 300px;
  
    font-family:'Courier New', Courier, monospace;
    font-size:16px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
  }

  .cell-breakWord {
    word-wrap: break-word;
  }
  
  tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
  }
  tr:nth-child(odd) {
    background-color: #d4d3d3;
  }

  
  .return {
    background-color: rgb(29, 216, 23);
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .delete {
    background-color: #fd3d2f;
    color: rgb(0, 0, 0);
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
  }

  .edit {
    background-color: #f8ba34;
    color: rgb(0, 0, 0);
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
  }
